/*reset
-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    max-width: 1440px;
}

ol, ul, li {
    list-style: none;
}

/*main
-----------------------------------------------------------*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100vw;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 340px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.box p {
    font-size: 15px;
    font-weight: 400;
    margin: auto 35px;
    text-align: center;
    color: hsl(200, 6%, 62%);
}
.box h1 {
    font-size: 20px;
    font-weight: 700;
    margin: auto 35px;
    margin-bottom: 15px;
    text-align: center;
}
.container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
}
